# generated with ./setup.sh
.vscode
*.code-workspace
UEBox*.txt
*.pri
*.kdev4
*.pro
*.workspace
Makefile
CMakeCache.txt
CMakeFiles/
CMakeLists.txt
*.cmake

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod

*.lai
*.la
*.a
*.lib

*.out
*.app
*.ipa

SourceArt/**/*.png
SourceArt/**/*.tga

Binaries/*
Plugins/*/Binaries/*

Build/*
build/

# white list
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

*_BuiltData.uasset

Saved/*

Intermediate/*
Plugins/*/Intermediate/*

DerivedDataCache/*
!Content/Game
Content/**
Packaged
