.vscode
uedemo.code-workspace

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod

*.lai
*.la
*.a
*.lib

*.out
*.app
*.ipa

SourceArt/**/*.png
SourceArt/**/*.tga

Binaries/*
Plugins/*/Binaries/*

Build/*

# white list
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

*_BuiltData.uasset

Saved/*

Intermediate/*
Plugins/*/Intermediate/*

DerivedDataCache/*
!Content/Blueprints
Content/**
